services:
  - type: web
    name: n8n
    env: node
    plan: free
    buildCommand: "npm install"
    startCommand: "npm run start"
    envVars:
      - key: N8N_PORT
        value: "10000"
      - key: GENERIC_TIMEZONE
        value: "Africa/Johannesburg"
      - key: BASIC_AUTH_ACTIVE
        value: "true"
